includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	paths:
		- src
		- cache-tags-for-cloudflare.php
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	scanFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
	treatPhpDocTypesAsCertain: false
